body {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div[class^="box"] {
    border-radius: 8px;
    width: 320px;
    margin: 10px;
}

.box1 {
    flex-shrink: 0;
    flex-grow: 0;
    width: 320px;
    height: 500px;
    background-color: skyblue;
}

.box2 {
    height: 300px;
    background-color: seagreen;
    flex: 1;
}

.box3 {
    height: 100px;
    background-color: orange;
    align-self: flex-start;
    flex: .5;
}

.box4 {
    height: 600px;
    background-color: red;
    align-self: flex-start;
    flex: 2;
}