 body {

     background-repeat: no-repeat;
     background-position: center 177px;
     background-size: 16%;
 }

 .top-right,
 .text-other {

     float: right;
     margin-left: 1.3em;
     color: black;
     font-weight: 500;
 }

 .test-top {

     float: right;
     margin-left: 1.3em;
     color: black;
     font-weight: 400;
 }

 #canping {
     background-color: rgb(0, 149, 255);
     color: aliceblue;
     text-decoration: none;
 }

 .search-box {
     position: absolute;
     left: 50%;
     margin-left: -287px;
     top: 315px;
     height: 30px;
     width: 474px;
     border-color: rgba(200, 200, 200, 0.8);
 }

 .search {
     position: absolute;
     left: 50%;
     margin-left: 193px;
     top: 315px;
     width: 87px;
     height: 35.5px;
     background-color: rgba(50, 130, 240, 0.7);
     color: aliceblue;
     border: none;
 }

 .search-big {
     position: relative;

 }

 .erweima {
     display: block;
     margin: auto;
     margin-top: 495px;
     width: 100px;
     height: 100px;
 }

 .text {
     text-align: center;
     line-height: 0;
 }

 .text2 {
     text-align: center;
     line-height: 10px;
     color: rgba(180, 176, 172, 1);
 }

 .bottom-text {

     margin-top: -20px;
     line-height: 35px;
     text-align: center;
     color: rgba(180, 176, 172, 1);
     font-size: 80%;
 }

 .bottom-text-top {
     margin-right: 1em;

 }

 .big-box {
     position: relative;

 }

 .baidu {
     position: absolute;
     left: 50%;
     top: 190px;
     margin-left: -100px;
 }

 .baidu img {
     width: 220px;
     height: 110px;
 }

 .box-center {
     margin-top: 45px;

 }