* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}

.box {

    width: 500px;
    padding: 10px;
    background-color: pink;
    border: 1px solid black;
}

.box div {
    width: 180px;
    height: 50px;
    background-color: grey;
}

.box a {
    text-decoration: none;
}

.box p {
    color: red;
}

.box>div:hover {
    background-color: yellow;
    font-size: .8rem;
    transition: all .7s;
}


.box ul li:nth-child(1) {
    margin-top: 20px;
    font-size: 20px;
}

ul li:nth-child(2) {
    font-size: 30px;
}

ul li:nth-child(3) {
    font-size: 40px;
}