 body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;

 }

 .box {
     width: 63vw;
     height: 35vw;

 }

 .box .background-img {
     position: relative;
     box-shadow: 0 0 20px rgba(0, 0, 0, .5);
     width: 100%;
     height: 100%;

 }

 .box .background-img>img {
     width: 100%;
     height: 100%;
     animation: opacity 4s;
 }

 @keyframes opacity {
     0% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

 .box .background-img div img {
     opacity: 0;
     animation: opacity 4s linear 4s forwards;
 }

 .box .background-img div img:hover {

     transform: scale(.8);
     transition: all .8s;

 }

 .box .background-img:hover {
     transform: scale(1.4);
     transition: all 0.8s;
 }

 .box .background-img div {

     position: absolute;
     top: 10%;
     left: 14%;
     width: 10%;
     height: 18%;
     margin-left: 2vw;
     margin-top: 20vw;

 }

 .box .background-img div:nth-child(2) {
     left: auto;
     right: 25%;

 }

 .box .background-img div img {
     width: 183%;
     height: 81%;

 }