 body {
     position: relative;
     left: 50%;
     margin-top: 50%;
     margin-left: -30vw;
     height: 100vh;

 }

 .box div {
     width: 60vw;
     height: 20vw;
     background-color: pink;
 }

 .box div:nth-child(1) {
     position: absolute;
 }

 .box div:nth-child(2) {
     position: absolute;
 }