* {
  margin: 0;
  padding: 0;

}

.item {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 100px;
  width: 60%;
  background-color: skyblue;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 1%;
  padding: 0 15px;
  gap: 15px;
  box-sizing: border-box;
  transition: all 0.4s;
}


.item:hover {
  margin-left: 2.3%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.item .avatar {
  flex-shrink: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  background-image: url('二次元.png');
  background-size: cover;
  background-position: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url('二次元.png');
  background-size: cover;
  background-position: center;
}

.info {
  flex: 1;
  display: inline-block;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.text {
  font-size: 16px;
  margin-top: 12px;
}

.list {

  gap: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
  height: 50px;
}

#bt {
  width: 60px;
  height: 50px;
  background: linear-gradient(to bottom, skyblue, rgb(0, 85, 128));
  border: none;
  cursor: pointer;
  font-size: 16px;
}